body {
  background-color: #555;
  color: #FFF;
  font: 70% sans-serif;
}

.login-container {
  width: 35em;
  margin: 0 auto;
}

a {
  color: #CCC;
  text-decoration: none;
}

a:hover {
  color: #FFF;
}

a img {
  border-width:0;
}

.date-container {
  margin-bottom: 0.6em;
}

.date-header {
  margin: 0;
  padding-left: 0.5em;
  font-weight: normal;
  clear: both;
}

.date-image-container {
  list-style: none;
  margin-top: 0;
  margin-left: 0; /* needed by IE */
  margin-bottom: 0.6em;
  padding: 0 0 3px 0;
  float: left;
  width: 100%;
}

.date-image {
  margin-top: 3px;
  margin-left: 3px;
  float: left;
}

.date-image-drop-placeholder {
  height: 75px;
  line-height: 1.2em;
}

.date-image-time {
  color: black;
  width: 75px;
  text-align: right;
}

.title-group-date {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  z-index: 3000;
  padding: 5px;
}

#tooltip h3, #tooltip div {
  margin: 0;
}

#tooltip div.body span {
  height: 16px;
  padding-left: 16px;
  margin: 0 0 4px 0;
  display: block;
}

#tooltip .tooltip-caption {
  background: url("../images/document.png") no-repeat;
}

#tooltip .tooltip-time {
  background: url("../images/calendar.png") no-repeat;
}

#tooltip .tooltip-tags {
  background: url("../images/tags.png") no-repeat;
}

noscript div {
  height: 45px;
  text-align: center;
  font-size: 2em;
  line-height: 45px;
}

noscript div a {
  border-bottom: solid 1px #cd0a0a;
}

.message-progress-indicator {
  vertical-align: middle;
  margin-right: 4px;
}

.message-text {
  font-size: 13px;
  font-weight: bold;
}

.toolbar {
  padding: 4px 4px;
  margin-bottom: 4px;
}

.common-menu {
  text-align: right;
}

.common-menu .tumblr-name {
  font-weight: bold;
}

.empty-days {
  background-color: #ffdd00;
  color: black;
  width: 20em;
  text-align: center;
  clear:both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.center-top {
  top: 0.2em;
  left: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  width: 18em;
  margin-left: -9em;
}

.operation-in-progress {
  font-size: 1.2em;
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  z-index: 9999;
}

.button-box {
  float: right;
  margin-top: 0.4em;
}

.menu-handle {
  background: url("../images/open.png") no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
}

#footer {
  text-align: center;
  margin-top: 3em;
}

#footer ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#footer li {
  display:inline;
}

#footer li a {
  font-weight: bold;
  margin: 0 0.8em;
}

.text-disabled {
  color: #BBB;
}

fieldset legend {
  width: 99%;
}

#dialog-filter-tags #search {
  width: 100%;
}